/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-semi: 600;
  }
  
  /*===== Colors =====*/
  :root{
    --first-color:  white;
    --second-color: #304A57;
    --white-color: #E9EAEC;
    --dark-color: #4A5257;
    --dark-color-lighten: #F2F5FF;
  }
  
  /*===== Fonts =====*/
  :root{
    --body-font: monospace, monospace;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*===== Margins =====*/
  :root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  
  /*===== z index =====*/
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*===== BASE =====*/
  *,::before,::after{
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--white-color);
    background-color: #1B262C;
  }
  h1,h2,p{
    margin: 0;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /*===== CLASS CSS ===== */
  .section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: white;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
  }
  .section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
  .section{
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  /*===== LAYOUT =====*/
  .bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  .l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--second-color);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
  }
  
  /*===== NAV =====*/
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  @media screen and (max-width: 768px){
    .nav__menu{
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: .5s;
    }
  }
  .nav__item{
    margin-bottom: var(--mb-4);
  }
  .nav__link{
    position: relative;
    color: #fff;
  }
  .nav__link:hover{
    position: relative;
  }
  .nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  .nav__logo{
    color: white;
  }
  .nav__toggle{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /*Active menu*/
  .active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  /*=== Show menu ===*/
  .show{
    right: 0;
  }
  
  /*===== HOME =====*/
  .home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
  }
  .home__data{
    align-self: center;
  }
  .home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
  .home__title-color{
    color: var(--first-color);
  }
  .home__social{
    display: flex;
    flex-direction: column;
  }
  .home__social-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 2.25rem;
    color: white;
  }
  .home__img{
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 295px;
  }
  
  /*BUTTONS*/
  .button{
    display: inline-block;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: .75rem 2rem;
    font-weight: 9000;
    font: var(--body-font);
    border-radius: .5rem;
    margin-top: 2rem;
    border: none;
  }
  .button:hover{
    cursor: pointer;
  }
  
  /* ===== ABOUT =====*/
  .about__container{
    row-gap: 2rem;
    text-align: center;
  }
  .about__subtitle{
    margin-bottom: var(--mb-2);
  }
  .about__img{
    justify-self: center;
  }
  .about__img img{
    width: 400px;
    border-radius: .5rem;
  }
  
  /* ==== QUALIFICATION ====*/
  
  .timeline{
    position:relative;
    margin:50px auto;
    padding:40px 0;
    width:1000px;
    box-sizing:border-box;
  }
  
  .timeline:before{
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    background:#c5c5c5;
  }
  
  .timeline ul{
    padding:0;
    margin:0;
  }
  
  .timeline ul li{
    list-style:none;
    position:relative;
    width:50%;
    padding:20px 40px;
    box-sizing:border-box;
  }
  
  .timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  
  .timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
  }
  
  .content{
    padding-bottom:20px;
  }
  
  .timeline ul li:nth-child(odd):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background: #304A57;
    border-radius:50%;
    box-shadow:0 0 0 3px #b6ccd7;
  }
  .timeline ul li:nth-child(even):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:#304A57;
    border-radius:50%;
    box-shadow:0 0 0 3px #b6ccd7;
  }
  
  .timeline ul li h3{
    padding:0;
    margin:0;
    color: var(--white-color);
    font-weight:600;
  }
  .timeline ul li p{
    margin:10px 0 0;
    padding:0;
  }
  
  .timeline ul li p a{
    padding:0;
    margin:0;
    color: var(--white-color);
    font-style: italic;
  }
  
  .timeline ul li .time h4{
    margin:0;
    padding:0;
    font-size:14px;
  }
  .timeline ul li:nth-child(odd) .time
  {
    position:absolute;
    top:12px;
    right:-165px;
    margin:0;
    padding:8px 16px;
    background:#304A57;
    color: var(--white-color);
    border-radius:18px;
    box-shadow:0 0 0 3px #304A57;
  }
  .timeline ul li:nth-child(even) .time
  {
    position:absolute;
    top:12px;
    left:-165px;
    margin:0;
    padding:8px 16px;
    background:#304A57;
    color: var(--white-color);
    border-radius:18px;
    box-shadow:0 0 0 3px #304A57;
  }
  @media(max-width:1000px)
  {
    .timeline{
      width:100%;
    }
  }
  @media(max-width:767px){
    .timeline{
      width:100%;
      padding-bottom:0;
    }
    h1{
      font-size:40px;
      text-align:center;
    }
    .timeline:before{
      left:20px;
      height:100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even)
    {
      width:100%;
      text-align:left;
      padding-left:50px;
      padding-bottom:50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before
    {
      top:-18px;
      left:16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
      top:-30px;
      left:50px;
      right:inherit;
    }
  }
  
  
  /* ===== SKILLS =====*/
  .skills__container {
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .skills {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }
  
  /* ===== PROJECTS =====*/
  .projects__container{
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .card {
    width: 280px;
    height: 350px;
    background-color: var(--dark-color);
    border-radius: 1rem;
    padding: 4rem 2rem 0;
    color: var(--white-color);
    overflow-y: hidden;
    position: relative;
  
  
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card__img {
    position: absolute;
    width: 218px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card__data {
    transform: translateY(13.2rem);
    text-align: center;
  }
  
  .card__title {
    font-size: var(--font-semi);
    color: var(--first-color);
    margin-bottom: 0.5rem;
  }
  
  
  .card__description {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0;
  }
  
  .card__button {
    font-size: 1rem;
    color: var(--white-color);
  }
  
  .card__img, 
  .card__data, 
  .card__title,  
  .card__description {
    transition: .5s;
  }
  
  /* Hover card effect */
  .card:hover .card__img {
    transform: translate(0, -3rem) ;
  }
  
  .card:hover .card__data {
    transform: translateY(10rem);
  }
  
  .card:hover .card__title {
    margin-bottom: 0;
  }
  
  
  .card:hover .card__description, 
  .card:hover .card__button {
    transition-delay: .2s;
    opacity: 1;
  }
  
  
  /* ===== CONTACT =====*/
  
  .contact__link {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--white-color);
  }
  
  .contact__item {
    margin: var(--mb-1);
    padding-bottom: 0.5rem;
  }
  
  .contact {
    margin-bottom: 3rem;
  }
  
  /* ===== FOOTER =====*/
  .footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
  }
  
  /* ===== MEDIA QUERIES=====*/
  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title{
      margin-bottom: var(--mb-6);
    }
    .section-title::after{
      width: 80px;
      top: 3rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
      display: flex;
      padding-top: 0;
    }
    .nav__item{
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle{
      display: none;
    }
    .nav__link{
      color: white;
    }
  
    .home{
      height: 100vh;
    }
    .home__data{
      align-self: flex-end;
    }
    .home__social{
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon{
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img{
      width: 457px;
      bottom: 15%;
    }
  
    .about__container, .skills__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      text-align: initial;
    }
    .about__img img{
      width: 350px;
    }
    .projects__container{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);
      column-gap: 2rem;
    }
    .contact__form{
      width: 360px;
    }
    .contact__container{
      justify-items: center;
    }
    .awards__container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }
  }
  
  @media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
    .home__img{
      right: 10%;
    }
  }
  
  
  .btn-theme {
    color: white;
  }
  
  .btn-theme:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px){
    .btn-theme {
      margin-bottom: 1rem;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 979px) { 
    .home__title{
      font-size: 3rem;
    } 
    .home__img{
      width: 400px;
    }
  }
  
  /* ===== Go to top button =====*/
  #goToTop {
    display: none;
    position: fixed; 
    bottom: 1.2rem; 
    right: 1.25rem; 
    z-index: 99;
    border: none; 
    outline: none; 
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 10px; 
    color: grey;
    padding: .75rem;
    background-color: lightgrey;
    opacity: 0.5;
  }
  
  #goToTop:hover {
    opacity: 0.75;
    transform: translateY(-0.3em);
    transition: 0.25s;
  }
  
  .q__toggle {
    cursor: pointer;
    opacity: 0.5;
    padding: 1rem;
  }
  
  #education-toggle {
    opacity: 1;
  }
  
  #education {
    display: block;
  }
  
  #experience {
    display: none;
  }
  
  /* Awards */
  .awards__container{
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .award__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    transition: 0.5s;
  }
  
  .award__div {
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    position: relative;
    display: block;
  }
  
  .award__description {
    margin: 0 0 0.5rem 0;
  }
  
  .award__hide {
    padding: 0 1rem 0 2rem;
    opacity: 0;
    height: 0;
    transition: 0.5s;
  }
  
  .award__div:hover .award__hide {
    transform: translateY(-8rem);
    opacity: 1;
    transition: 0.5s;
  }
  
  .award__div:hover .award__img {
    opacity: 0.2;
    transform: translateX(-3rem);
    transition: 0.5s;
  }